{
  email admin@tokensea.dev
}

tokensea.dev, api.tokensea.dev {
  encode gzip zstd
  reverse_proxy app:3000
}

www.tokensea.dev {
  redir https://tokensea.dev{uri} permanent
}

xuexin.xyz {
  encode gzip zstd
  reverse_proxy app:3000
}

http://47.236.57.75 {
  encode gzip zstd
  reverse_proxy app:3000
}
